* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

#barnav {
	margin-right: 75px;
}

#crumbbread {
	background-color: none;
}

#sample-img {
	height: 35vh;
	width: 20vw;
}

.footer {
	width: 100%;
	position: absolute;
	padding: 2px;
}

#navhome, #navsupport, #navpricing, #navabout, #navcontact, #navlogin {
	color: orange;
	font-weight: bold;
}

/*suggested forms card*/
#formsuggestions {
  width: 20rem;
  height: 30vh;
}

/*treeview holder*/
#treeview {
  height: 75vh;
}

.btn:hover {
  background-color: orange;
}

.btn:focus {
  outline: 2px solid orange;
}