* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

#barnav {
	margin-right: 120px;
}

#crumbbread {
	background-color: white;
}

#sample-img {
	height: 50vh;
	width: 20vw;
}

.footer {
	width: 100%;
	position: absolute;
	padding: 2px;
}